@{
    Layout = "_LayoutAdmin";
}

@model IEnumerable<CMS.Data.Entities.Post>

<div class="container mt-4">

    <h2 class="mb-4 text-danger">
        DANH SÁCH BÀI VIẾT MỚI NHẤT
    </h2>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">

                <div class="card shadow-sm h-100">

                    <img src="@item.ImageUrl"
                         class="card-img-top"
                         alt="Thumbnail">

                    <div class="card-body">

                        <!-- Tên danh mục -->
                        <span class="badge bg-info text-dark">
                            @item.Category.Name
                        </span>

                        <!-- Tiêu đề -->
                        <h5 class="card-title text-primary mt-2">
                            @item.Title
                        </h5>

                        <!-- Nội dung -->
                        <p class="card-text text-truncate">
                            @item.Content
                        </p>

                        <!-- Ngày đăng -->
                        <p class="text-muted small">
                            Ngày đăng:
                            @item.CreatedDate.ToString("dd/MM/yyyy")
                        </p>

                        <!-- Nút xem chi tiết -->
                        <a href="/Post/Details/@item.Id"
                           class="btn btn-outline-primary btn-sm">
                            Xem chi tiết
                        </a>

                        <!-- Nút xóa -->
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-danger"
                           onclick="return confirm('Chúng ta có chắc chắn muốn xóa bài viết này không?')">

                            <i class="bi bi-trash"></i>
                            Xóa

                        </a>
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-warning">

                            <i class="bi bi-pencil-square"></i>
                            Sửa

                        </a>

                    </div>

                </div>

            </div>
        }

    </div>

</div>